# Python bytecode
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Cache and data directories
.cache/
data/
*.gguf

